
:root {
    /*   --color-bg: #2e1700; */
      --color-bg: rgb(43, 28, 4); /* rgb(43, 28, 4) */
      --color-bg-highlight: rgb(100, 136, 246);
      --color-highlight: #f82a2a;
      --color-text-main: #000000;
      --color-primary: rgb(37, 88, 242);
      --color-secondary: rgba(158,242,37, 1);
      --wrapper-height: 87vh;
      --image-max-width: 300px;
      --image-margin: 3rem;
      --font-family: "neue-machina-inktrap-ultrabold";
      --font-family-header: "HK Grotesk";
      --borderRad: 10px;
    }
  
  @font-face {
      font-family: kellyAnnGothic;
      src: url('https://cdn.glitch.global/1cee368e-afa5-4031-82d2-70a1e50d3f4a/KellyAnnGothic.ttf?v=1679910025544');
      font-weight: normal;
    }
    
  
    @font-face {
      font-family: gothicPixels;
  /*     src: url('https://cdn.glitch.global/1cee368e-afa5-4031-82d2-70a1e50d3f4a/GothicPixels.ttf?v=1679922737275'); */
      src: url('https://cdn.glitch.global/3b6ae790-11fe-459a-8ac8-c2a0b10ed2b9/Pixel%20Gothic%20Font.ttf?v=1681735361029');
  /*     src: url("https://cdn.glitch.global/3b6ae790-11fe-459a-8ac8-c2a0b10ed2b9/gothic-pixel-font.ttf?v=1681735573129"); */
  /*     font-weight: normal; */
    }
  
    @font-face {
      font-family: gothic_pixel_font;
      src: url('https://cdn.glitch.global/3b6ae790-11fe-459a-8ac8-c2a0b10ed2b9/gothic-pixel-font.ttf?v=1681734923075')format('truetype');
      font-weight: normal;
    }
    body { margin: 0;
  background-color: var(--color-bg) ; 
  background: 
  repeating-radial-gradient(
    circle  at 50vw 50vh, 
    var(--color-bg),
    black 50px
  );
      overflow:hidden;
      -webkit-user-select: none;
  
  }
  html{
    font-size:100%;
  }
    /* Page structure */
    .container {
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin: 0 1rem;
    }
    .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .title_text{
      font-family: kellyAnnGothic;
      font-size: 4em;
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 1), 
      0px 0px 10px rgba(255, 255, 255, 1), 
      0px 0px 15px rgba(255, 255, 255, 1),
      0px 0px 20px var(--color-primary),
      0px 0px 30px var(--color-primary),
      0px 0px 40px var(--color-primary),
      0px 0px 55px var(--color-primary),
      0px 0px 75px var(--color-primary);
    }
    #info {
        position: absolute;
        top: 12.5%;
        width: 100%;
        text-align: center;
        z-index: 100;
        display:block;
  
    }
    #bottom{
      position:absolute;
      top:75%;
      text-align: center;
      font-family: kellyAnnGothic;
      font-size: 4rem;
    }
  
  
  
  
    .lvl4 {
      /* @include step4( 5px, green, white ); */
      box-shadow: 2px 0px white, -2px 0px white, 0px -2px white, 0px 5px white, 10px 0px 10px var(--color-primary), -10px 0px 10px var(--color-primary), 0px -10px 10px var(--color-primary), 0px 10px 10px var(--color-primary);
      /* box-shadow: 0 0 15px 6px var(--color-bg-highlight), 0 0 15px 4px var(--color-bg) inset; */
      /* 10px 0 blue, */
      /* -10px 0 blue, */
      /* 0 (-10px) blue, */
      /* 0 10px blue,  */
      /* 0 0 5px blue; */
    margin: 10px auto;
      border-radius: var(--borderRad);
    }
  canvas{
    border-radius:var(--borderRad);
  }
    #blocker {
      position: absolute;
      width: 100vw;
      height: 100vh;
      /* background-color: rgba(0,0,0,0.5); */
      border-radius: var(--borderRad);
    }
  
    #instructions {
      font-family: gothicPixels;
      width: 100%;
      height: 100%;
      text-shadow: 0 0 3px #f82a2a, 0 0 5px #000000;
      border-radius: var(--borderRad);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      text-align: center;
      font-size: 2rem;
      cursor: pointer;
      z-index: 10;
    }
  #instructions_container{
          font-family: gothicPixels;
        width: 50%;
        height: 50%;
        text-shadow: 0 0 3px #f82a2a, 0 0 5px #000000;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        text-align: center;
        font-size: 3rem;
        /* cursor: pointer; */
  /*       z-index: 100; */
    background:black;
    border-radius: var(--borderRad);
  }
  
    #viewfinder {
      font-family: gothicPixels;
      width: 100%;
      height: 100%;
      text-shadow: 0 0 3px #f82a2a, 0 0 5px #000000;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      text-align: center;
      font-size: 1.5rem;
      /* cursor: pointer; */
      z-index: 100;
      display: none;
      }
    
      #viewFinderBorder{
  /*       font-family: gothicPixels; */
        position:absolute;  
        display:none;
        width: 50%;
        height: 50%;
        text-shadow: 0 0 3px #f82a2a, 0 0 5px #000000;
        
  /*       display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    visibility:hidden;
  /*       text-align: center; */
  /*       font-size: 1.5rem; */
        /* cursor: pointer; */
        z-index: 10;
        
      }
      
      #viewfinderText1{
  /*       position:absolute;
        top:45%;
        left:35%;
        text-align: center; */
  /*           display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; */
  
      text-align: center;
      font-size: 2.5rem;
      cursor: pointer;
      z-index: 11;
        opacity: 1;
        /* animation: fade 5s linear infinite; */
      }
    
    
    @keyframes fade {
      0%,100% { opacity: 0 }
      50% { opacity: 1 }
    }
  .icons{
    position:absolute;
    background: transparent;
    width: 25%;
    display:block;
    z-index: 50;
  }
    #super{
      top: 0%;
      left: 8%;
      visibility: hidden;
    }
    #ghoul{
      top: 20%;
      left: 2%;
      visibility: hidden;
    }
    #miniGhoul{
      top: 40%;
      left: 0%;
      visibility: hidden;
    }
    #haunted{
      top: 60%;
      left: 2%;
      visibility: hidden;
    }
    #haunted2{
      top: 80%;
      left: 10%;
      visibility: hidden;
    }
    /* #pirate{
      top: 0%;
      left: 65%;
      visibility: hidden;
    } */
    #evil{
      top: 20%;
      left: 75%;
      visibility: hidden;
    }
    #ghostly{
      top: 40%;
      left: 80%;
      visibility: hidden;
    }
    #bat{
      top: 60%;
      left: 75%;
      visibility: hidden;
    }
    #pirate{
      top: 80%;
      left: 65%;
      visibility: hidden;
    }
  
  .introText{
    /* font-size: 36px; */
    transition: 2s;
  max-width:50%;
  }